/* play CSS Document */

/* Body 
------------------------------------- */

/*---------------------------------------





  菜单
-----------------------------------------*/
.menuBg {
  left: 260px;
}
/*---------------------------------------





  图片
-----------------------------------------*/
#picBox {
  position: relative;
  background: url(../images/index_information_bg.jpg) repeat-y center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1001;
}
/*---------------------------------------





  内容
-----------------------------------------*/
#content .boxMiddle{
  height: 1000px;
}
/*---------------------------------------
